@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Medium.woff2') format('woff2'),
        url('fonts/Asap-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asap Symbol';
    src: url('fonts/Asap-Symbol.woff2') format('woff2'),
        url('fonts/Asap-Symbol.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Regular.woff2') format('woff2'),
        url('fonts/Asap-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {

  /* COLOR VARIABLES */

  --color-hsl-main-color: hsl(0, 0%, 98%);
  --color-hsl-main-color-h: 0;
  --color-hsl-main-color-s: 0%;
  --color-hsl-main-color-l: 98%;

  --color-hsl-secondary-color: hsl(321, 92%, 57%);
  --color-hsl-secondary-color-h: 321;
  --color-hsl-secondary-color-s: 92%;
  --color-hsl-secondary-color-l: 57%;
  
  --color-hsl-background-color: hsl(324, 100%, 98%);
  --color-hsl-background-color-h: 324;
  --color-hsl-background-color-s: 100%;
  --color-hsl-background-color-l: 98%;

  --color-hsl-text-color: hsl(0, 0%, 10%);
  --color-hsl-text-color-h: 0;
  --color-hsl-text-color-s: 0%;
  --color-hsl-text-color-l: 10%;
  
  --font-heading: "Asap";
  --font-paragraph: "Asap";

}