@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Medium.woff2') format('woff2'),
        url('fonts/Asap-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asap Symbol';
    src: url('fonts/Asap-Symbol.woff2') format('woff2'),
        url('fonts/Asap-Symbol.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asap';
    src: url('fonts/Asap-Regular.woff2') format('woff2'),
        url('fonts/Asap-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
  /* COLOR VARIABLES */

  --color-hsl-main-color: hsl(0, 0%, 98%);
  --color-hsl-main-color-h: 0;
  --color-hsl-main-color-s: 0%;
  --color-hsl-main-color-l: 98%;
  
  --color-hsl-background-color: hsl(324, 100%, 98%);
  --color-hsl-background-color-h: 324;
  --color-hsl-background-color-s: 100%;
  --color-hsl-background-color-l: 98%;

  --color-hsl-accent-color: hsl(321, 92%, 57%);
  --color-hsl-accent-color-h: 321;
  --color-hsl-accent-color-s: 92%;
  --color-hsl-accent-color-l: 57%;

  --color-hsl-text-color: hsl(0, 0%, 10%);
  --color-hsl-text-color-h: 0;
  --color-hsl-text-color-s: 0%;
  --color-hsl-text-color-l: 10%;
  
  --font-heading: "Asap";
  --font-paragraph: "Asap";
}

.body-wrapper {
  display: grid;
  grid-template: 15ch 1fr / clamp(20ch, 20vw, 300px) 1fr;
  grid-template-areas:
    "side header"
    "side main";
}

/* SIDE */

.side {
  padding-left: 10%;

  grid-area: side;

  --nav-link-height: 2rem;

  display: grid;
  grid-auto-rows: var(--nav-link-height);

  background-color: var(--color-hsl-accent-color);
}

.side__title {
  grid-row: 1 / 3;

  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-hsl-main-color);
}

.side__nav-link-wrapper {
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
}

.side__main-nav-links,
.side__secondary-nav-links {
  display: grid;
  grid-template-rows: subgrid;
}

.side__main-nav-links {
  grid-row: 4 / span 6;
}

.side__secondary-nav-links {
  grid-row: 11 / span 3;
}

.side__home-icon,
.side__profile-icon,
.side__messages-icon,
.side__history-icon,
.side__tasks-icon,
.side__communities-icon,
.side__settings-icon,
.side__support-icon,
.side__privacity-icon {
  width: 1.3rem;
  aspect-ratio: 1 / 1;

  filter: invert(100%);
}

.side__home-icon {background-image: url(icons/home.svg)}
.side__profile-icon {background-image: url(icons/profile.svg)}
.side__messages-icon {background-image: url(icons/messages.svg)}
.side__history-icon {background-image: url(icons/history.svg)}
.side__tasks-icon {background-image: url(icons/tasks.svg)}
.side__communities-icon {background-image: url(icons/communities.svg)}
.side__settings-icon {background-image: url(icons/settings.svg)}
.side__support-icon {background-image: url(icons/support.svg)}
.side__privacity-icon {background-image: url(icons/privacity.svg)}

.side__nav-link {
  font-family: var(--font-paragraph);
  font-weight: 500;
  text-decoration: none;
  color: var(--color-hsl-main-color);
}

/* HEADER */

.header {
  grid-area: header;
}

/* MAIN */

.main {
  grid-area: main;
}